{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Manage Students
{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Student List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-2">
                                <a href="{% url 'generate_face_encodings' %}" class="btn btn-primary">
                                    <i class="fas fa-camera"></i> Generate Face Encodings
                                </a>
                                <a href="{% url 'train_model' %}" class="btn btn-success">
                                    <i class="fas fa-cogs"></i> Train Model
                                </a>
                                <!-- New help button -->
                                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#face_recognition_help">
                                    <i class="fas fa-question-circle"></i> Face Recognition Help
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Bulk Actions Section -->
                    <div class="card-body pb-0">
                        <div class="mb-3">
                            <div class="bulk-actions">
                                <button id="select_all" class="btn btn-outline-primary">Select All</button>
                                <button id="deselect_all" class="btn btn-outline-secondary">Deselect All</button>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Bulk Actions
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="bulk_face_enrollment" href="#">Enroll Selected in Face Recognition</a>
                                        <a class="dropdown-item" id="bulk_export" href="#">Export Selected Students</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Column Toggle Section -->
                        <div class="mb-3">
                            <div class="btn-group column-toggle">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Toggle Columns <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item active" data-column="0" href="#">Select</a>
                                    <a class="dropdown-item active" data-column="1" href="#">Admission No</a>
                                    <a class="dropdown-item active" data-column="2" href="#">Photo</a>
                                    <a class="dropdown-item active" data-column="3" href="#">First Name</a>
                                    <a class="dropdown-item active" data-column="4" href="#">Middle Name</a>
                                    <a class="dropdown-item active" data-column="5" href="#">Last Name</a>
                                    <a class="dropdown-item active" data-column="6" href="#">Grade</a>
                                    <a class="dropdown-item active" data-column="7" href="#">Stream</a>
                                    <a class="dropdown-item active" data-column="8" href="#">Academic Year</a>
                                    <a class="dropdown-item" data-column="9" href="#">Parent Name</a>
                                    <a class="dropdown-item" data-column="10" href="#">Date Of Birth</a>
                                    <a class="dropdown-item" data-column="11" href="#">Gender</a>
                                    <a class="dropdown-item" data-column="12" href="#">Disability</a>
                                    <a class="dropdown-item" data-column="13" href="#">Nationality</a>
                                    <a class="dropdown-item" data-column="14" href="#">Address</a>
                                    <a class="dropdown-item active" data-column="15" href="#">Actions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered" id="students_table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check_all"></th>
                                    <th>Admission No</th>
                                    <th>Photo</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Grade</th>
                                    <th>Stream</th>
                                    <th>Academic Year</th>
                                    <th>Parent Name</th>
                                    <th>Staff Name</th>
                                    <th>Date Of Birth</th>
                                    <th>Gender</th>
                                    <th>Disability</th>
                                    <th>Nationality</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td><input type="checkbox" class="student_checkbox" value="{{ student.id }}"></td>
                                    <td>{{ student.admission_number }}</td>
                                    <td>
                                        {% if student.profile_pic %}
                                        <img src="{{ student.profile_pic.url }}" alt="Profile Pic" style="width: 50px; height: 50px;">
                                        {% else %}
                                        <img src="/static/dist/img/user2-160x160.jpg" alt="Default Profile" style="width: 50px; height: 50px;">
                                        {% endif %}
                                        
                                        <!-- Face recognition status indicator -->
                                        {% if student.has_face_encoding %}
                                        <span class="badge badge-success" title="Face recognition enabled"><i class="fas fa-check"></i></span>
                                        {% else %}
                                        <span class="badge badge-warning" title="Face recognition not set up"><i class="fas fa-exclamation-triangle"></i></span>
                                        {% endif %}
                                    </td>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.middle_name}}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>{{ student.grade_id.grade_name }}</td>
                                    <td>{{ student.stream_id.stream_name }}</td>
                                    <td>{{ student.academic_year_id.academic_start_year }} / {{ student.academic_year_id.academic_end_year }}</td>
                                    <td>
                                        {% if student.parents_set.all %}
                                            {% for parent in student.parents_set.all %}
                                                {{ parent.admin.first_name }} {{ parent.admin.last_name }}
                                            {% endfor %}
                                        {% else %}
                                            No Parent Assigned
                                        {% endif %}
                                    </td>
                                    <td>{{ student.stream_id.staff_id.first_name }} {{ student.stream_id.staff_id.last_name }}</td>
                                    <td>{{ student.date_of_birth }}</td>
                                    <td>{{ student.get_gender_display }}</td>
                                    <td>{{ student.get_disability_display }}</td>
                                    <td>{{ student.nationality }}</td>
                                    <td>{{student.address}}</td>

                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" 
                                                data-target="#student_details_{{ student.id }}">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                data-target="#edit_student_{{ student.id }}">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <a href="{% url 'create_dataset' student.id %}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-camera"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                               {% endfor %}
                               
                                {% for student in students %}
                                <!-- Enhanced Student Details Modal -->
                                <div class="modal fade" id="student_details_{{ student.id }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Student Details</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4 text-center">
                                                        {% if student.profile_pic %}
                                                        <img src="{{ student.profile_pic.url }}" alt="Profile Pic" class="img-fluid rounded mb-3" style="max-height: 200px;">
                                                        {% else %}
                                                        <img src="/static/dist/img/user2-160x160.jpg" alt="Default Profile" class="img-fluid rounded mb-3" style="max-height: 200px;">
                                                        {% endif %}
                                                        
                                                        <div class="mb-3">
                                                            <h5>{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</h5>
                                                            <p class="text-muted">Admission No: {{ student.admission_number }}</p>
                                                        </div>
                                                        
                                                        <div class="mb-3">
                                                            {% if student.has_face_encoding %}
                                                            <span class="badge badge-success p-2"><i class="fas fa-check"></i> Face Recognition Enabled</span>
                                                            {% else %}
                                                            <span class="badge badge-warning p-2"><i class="fas fa-exclamation-triangle"></i> Face Recognition Not Set Up</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-8">
                                                        <ul class="nav nav-tabs" id="studentDetailsTabs{{ student.id }}" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="personal-tab{{ student.id }}" data-toggle="tab" href="#personal{{ student.id }}" role="tab">Personal Info</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="academic-tab{{ student.id }}" data-toggle="tab" href="#academic{{ student.id }}" role="tab">Academic</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" id="face-tab{{ student.id }}" data-toggle="tab" href="#face{{ student.id }}" role="tab">Face Recognition</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <!-- Attendance tab removed -->
                                                            </li>
                                                        </ul>
                                                        
                                                        <div class="tab-content p-3 border border-top-0 rounded-bottom">
                                                            <!-- Personal Info Tab -->
                                                            <div class="tab-pane fade show active" id="personal{{ student.id }}" role="tabpanel">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <p><strong>Date of Birth:</strong> {{ student.date_of_birth }}</p>
                                                                        <p><strong>Gender:</strong> {{ student.get_gender_display }}</p>
                                                                        <p><strong>Nationality:</strong> {{ student.nationality }}</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p><strong>Parent:</strong> 
                                                                            {% if student.parents_set.all %}
                                                                                {% for parent in student.parents_set.all %}
                                                                                    {{ parent.admin.first_name }} {{ parent.admin.last_name }}
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                No Parent Assigned
                                                                            {% endif %}
                                                                        </p>
                                                                        <p><strong>Disability:</strong> {{ student.get_disability_display }}</p>
                                                                        <p><strong>Address:</strong> {{ student.address }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <!-- Academic Tab -->
                                                            <div class="tab-pane fade" id="academic{{ student.id }}" role="tabpanel">
                                                                <p><strong>Grade:</strong> {{ student.grade_id.grade_name }}</p>
                                                                <p><strong>Stream:</strong> {{ student.stream_id.stream_name }}</p>
                                                                <p><strong>Academic Year:</strong> {{ student.academic_year_id.academic_start_year }} / {{ student.academic_year_id.academic_end_year }}</p>
                                                                
                                                                <!-- Add academic performance if available -->
                                                                <h6 class="mt-3">Academic Performance</h6>
                                                                <div class="alert alert-info">
                                                                    Academic performance data will be displayed here when available.
                                                                </div>
                                                            </div>
                                                            
                                                            <!-- Face Recognition Tab -->
                                                            <div class="tab-pane fade" id="face{{ student.id }}" role="tabpanel">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <form method="post" action="{% url 'add_student_face_encoding' %}" 
                                                                              enctype="multipart/form-data" class="border p-3">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="student_id" value="{{ student.id }}">
                                                                            <div class="form-group">
                                                                                <label>Upload Face Image</label>
                                                                                <input type="file" name="face_image" class="form-control" 
                                                                                       accept="image/*" required>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary">
                                                                                <i class="fas fa-camera"></i> Enroll Face from Image
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="border p-3">
                                                                            <h6>Capture Face with Camera</h6>
                                                                            <p>Capture multiple images of the student's face to improve recognition accuracy.</p>
                                                                            <a href="{% url 'create_dataset' student.id %}" class="btn btn-success">
                                                                                <i class="fas fa-video"></i> Capture Face with Camera
                                                                            </a>
                                                                        </div>
                                                                        
                                                                        {% if student.has_face_encoding %}
                                                                        <div class="alert alert-success mt-3">
                                                                            <i class="fas fa-check-circle"></i> This student has been enrolled in face recognition.
                                                                        </div>
                                                                        {% else %}
                                                                        <div class="alert alert-warning mt-3">
                                                                            <i class="fas fa-exclamation-triangle"></i> This student has not been enrolled in face recognition yet.
                                                                        </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit Student Modal -->
                                <div class="modal fade" id="edit_student_{{ student.id }}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Student</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <form method="post" action="{% url 'edit_student_save' %}" enctype="multipart/form-data" id="edit_student_form_{{ student.id }}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <input type="hidden" name="student_id" value="{{ student.id }}">
                                                    
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>First Name <span class="text-danger">*</span></label>
                                                                <input type="text" name="first_name" class="form-control" 
                                                                       value="{{ student.first_name }}" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Middle Name</label>
                                                                <input type="text" name="middle_name" class="form-control" 
                                                                       value="{{ student.middle_name }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Last Name <span class="text-danger">*</span></label>
                                                                <input type="text" name="last_name" class="form-control" 
                                                                       value="{{ student.last_name }}" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Grade <span class="text-danger">*</span></label>
                                                                <select name="grade" class="form-control" required>
                                                                    {% for grade in grades %}
                                                                    <option value="{{ grade.id }}" 
                                                                            {% if grade.id == student.grade_id.id %}selected{% endif %}>
                                                                        {{ grade.grade_name }}
                                                                    </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Stream <span class="text-danger">*</span></label>
                                                                <select name="stream" class="form-control" required>
                                                                    {% for stream in streams %}
                                                                    <option value="{{ stream.id }}" 
                                                                            {% if stream.id == student.stream_id.id %}selected{% endif %}>
                                                                        {{ stream.stream_name }}
                                                                    </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Date of Birth</label>
                                                                <input type="date" name="date_of_birth" class="form-control" 
                                                                       value="{{ student.date_of_birth|date:'Y-m-d' }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Gender</label>
                                                                <select name="gender" class="form-control">
                                                                    <option value="M" {% if student.gender == 'M' %}selected{% endif %}>Male</option>
                                                                    <option value="F" {% if student.gender == 'F' %}selected{% endif %}>Female</option>
                                                                    <option value="O" {% if student.gender == 'O' %}selected{% endif %}>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        <textarea name="address" class="form-control" rows="3">{{ student.address }}</textarea>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>Profile Picture</label>
                                                        <input type="file" name="profile_pic" class="form-control" accept="image/*">
                                                        {% if student.profile_pic %}
                                                        <small class="form-text text-muted">
                                                            Current: {{ student.profile_pic.url }}
                                                        </small>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                             {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Face Recognition Help Modal -->
    <div class="modal fade" id="face_recognition_help">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title">Face Recognition Guide</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5>How to enroll students for face recognition:</h5>
                    <ol>
                        <li>Click the camera icon (<i class="fas fa-camera"></i>) next to a student to capture their face</li>
                        <li>Alternatively, open student details and use the "Face Recognition" tab to upload a clear face image</li>
                        <li>For best results, ensure good lighting and a clear view of the face</li>
                        <li>After enrolling students, click "Train Model" to update the recognition system</li>
                    </ol>
                    
                    <h5 class="mt-4">Tips for better recognition:</h5>
                    <ul>
                        <li>Capture multiple angles of the student's face</li>
                        <li>Ensure adequate lighting during enrollment</li>
                        <li>The student should look directly at the camera</li>
                        <li>Remove glasses or other face coverings during enrollment</li>
                    </ul>
                    
                    <div class="alert alert-info mt-3">
                        <i class="fas fa-info-circle"></i> Students must be enrolled in face recognition before they can be identified for attendance.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
<script>
    $(document).ready(function() {
        // Initialize DataTable with responsive features
        var table = $('#students_table').DataTable({
            responsive: true,
            "pageLength": 25,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "columnDefs": [
                { "orderable": false, "targets": [0, 15] } // Disable sorting on checkbox and actions columns
            ]
        });
        
        // Column visibility toggle
        $('.column-toggle .dropdown-item').on('click', function(e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
            $(this).toggleClass('active');
        });
        
        // Check/uncheck all checkboxes
        $('#check_all').change(function() {
            $('.student_checkbox').prop('checked', $(this).prop('checked'));
        });
        
        // Select all button
        $('#select_all').click(function() {
            $('.student_checkbox').prop('checked', true);
            $('#check_all').prop('checked', true);
        });
        
        // Deselect all button
        $('#deselect_all').click(function() {
            $('.student_checkbox').prop('checked', false);
            $('#check_all').prop('checked', false);
        });
        
                    // Bulk export
                    $('#bulk_export').click(function() {
                var selectedStudents = [];
                $('.student_checkbox:checked').each(function() {
                    selectedStudents.push($(this).val());
                });
                
                if (selectedStudents.length === 0) {
                    alert('Please select at least one student');
                    return;
                }
                
                // Create form and submit
                var form = $('<form action="{% url "export_students" %}" method="post"></form>');
                form.append('<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">');
                form.append('<input type="hidden" name="student_ids" value="' + selectedStudents.join(',') + '">');
                $('body').append(form);
                form.submit();
            });
            
            // Bulk face enrollment
            $('#bulk_face_enrollment').click(function() {
                var selectedStudents = [];
                $('.student_checkbox:checked').each(function() {
                    selectedStudents.push($(this).val());
                });
                
                if (selectedStudents.length === 0) {
                    alert('Please select at least one student');
                    return;
                }
                
                if (confirm('Enroll ' + selectedStudents.length + ' students in face recognition? This will redirect you to capture faces for each student.')) {
                    window.location.href = '{% url "bulk_face_enrollment" %}?student_ids=' + selectedStudents.join(',');
                }
            });
            
            // Form validation for edit student
            $('[id^=edit_student_form_]').each(function() {
                $(this).validate({
                    rules: {
                        first_name: {
                            required: true,
                            minlength: 2
                        },
                        last_name: {
                            required: true,
                            minlength: 2
                        },
                        grade: {
                            required: true
                        },
                        stream: {
                            required: true
                        },
                        admission_number: {
                            required: true
                        }
                    },
                    messages: {
                        first_name: {
                            required: "Please enter first name",
                            minlength: "First name must be at least 2 characters"
                        },
                        last_name: {
                            required: "Please enter last name",
                            minlength: "Last name must be at least 2 characters"
                        },
                        grade: {
                            required: "Please select a grade"
                        },
                        stream: {
                            required: "Please select a stream"
                        },
                        admission_number: {
                            required: "Please enter admission number"
                        }
                    },
                    errorElement: 'span',
                    errorPlacement: function(error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function(element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                    },
                    unhighlight: function(element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                    }
                });
            });
            
            // Advanced search functionality
            var advancedSearchHtml = `
                <div class="card card-body mb-3" id="advanced_search_panel" style="display:none;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Grade</label>
                                <select class="form-control" id="search_grade">
                                    <option value="">All Grades</option>
                                    {% for grade in grades %}
                                    <option value="{{ grade.grade_name }}">{{ grade.grade_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" id="search_gender">
                                    <option value="">All</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Face Recognition</label>
                                <select class="form-control" id="search_face_recognition">
                                    <option value="">All</option>
                                    <option value="enabled">Enabled</option>
                                    <option value="disabled">Not Enabled</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button id="apply_advanced_search" class="btn btn-primary btn-block">Apply Filters</button>
                            </div>
                        </div>
                    </div>
                </div>
            `;
            
            // Add advanced search panel before the table
            $(advancedSearchHtml).insertBefore('#students_table');
            
            // Add toggle button for advanced search
            $('<button id="toggle_advanced_search" class="btn btn-outline-secondary mb-3"><i class="fas fa-filter"></i> Advanced Search</button>').insertBefore('#advanced_search_panel');
            
            // Toggle advanced search panel
            $('#toggle_advanced_search').click(function() {
                $('#advanced_search_panel').slideToggle();
            });
            
            // Apply advanced search filters
            $('#apply_advanced_search').click(function() {
                var gradeFilter = $('#search_grade').val();
                var genderFilter = $('#search_gender').val();
                var faceRecognitionFilter = $('#search_face_recognition').val();
                
                // Clear existing filters
                table.search('').columns().search('').draw();
                
                // Apply new filters
                if (gradeFilter) {
                    table.column(6).search(gradeFilter).draw();
                }
                
                if (genderFilter) {
                    table.column(11).search(genderFilter).draw();
                }
                
                if (faceRecognitionFilter) {
                    // Custom filtering for face recognition status
                    $.fn.dataTable.ext.search.push(
                        function(settings, data, dataIndex) {
                            var hasEncoding = $(table.row(dataIndex).node()).find('td:eq(2) .badge-success').length > 0;
                            
                            if (faceRecognitionFilter === 'enabled' && hasEncoding) {
                                return true;
                            } else if (faceRecognitionFilter === 'disabled' && !hasEncoding) {
                                return true;
                            } else if (faceRecognitionFilter === '') {
                                return true;
                            }
                            return false;
                        }
                    );
                    
                    table.draw();
                    
                    // Remove the custom filter after drawing
                    $.fn.dataTable.ext.search.pop();
                }
            });
            
            // Export to Excel functionality
            $('<button id="export_all" class="btn btn-success ml-2"><i class="fas fa-file-excel"></i> Export All</button>').insertAfter('#bulk_export');
            
            $('#export_all').click(function() {
                window.location.href = '{% url "export_all_students" %}';
            });
        });
    </script>
{% endblock custom_js %}


